.header {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 2em;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

.title {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.title-body {
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
	text-align:center;
	margin-top: 1.2em;
}	

.title-link {
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
	margin-top: 0.5em;
	text-align: center;
}

.align {
	margin-top: 2.7em
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 1.9em;
	margin-top: 0px;
	font-weight: bold;
	text-align: center;
}

.body-text {
	font-size: 1.2em;
	font-family: "Roboto", sans-serif
}

.center {
	margin: auto;
}

.subtitle {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
}

.h3-title {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 1.9em;
}

.top {
	margin-top: 1em;
}

.bottom {
	margin-bottom: 2em;
}

.bold {
	font-weight: bold;
}

#botnet-image {
	display: block;
	max-width: 500px;
	max-height: 200px;
	width: auto;
	height: auto;
}

#ddos-image {
	display: block;
	max-width: 825px;
	max-height: 300px;
	width: auto;
	height:auto
}

#firewall-image {
	display: block;
	max-width: 500px;
	max-height: inherit;
	width: auto;
	height: auto;
}

#proxy-image {
	display: block;
	max-width: 500px;
	max-height: inherit;
	width: auto;
	height: auto;
}